.footer{
    background-color: #4f4e55;
    font-family:  "Roboto", Roboto, Sans-serif;
    font-size: 14px;
    padding: 20% 7%;
    padding-bottom: 5%;
    color:white
}
.contactFooter>h5{
    font-size: 30px;
   
}
.container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    

}
.contactFooter{

    font: 20px Roboto,Roboto,sans-serif;
   
   
    line-height: 35px;
    margin-right: 15%;
    
}
.contactFooter>address{
    width: 150%;
}

