.navbar-brand>img{
    max-width: 220px;
}
.nav-link{
    font-weight:bold;
    margin-left: -10px;
}
.font-weight-bold >a{
font-weight: bold;
font-size: 15px;
}

.container{
    display: flex;
    position: relative;
    right: 5%;
    justify-content: space-between;
   

}
.me-auto{
    position: relative;
    top: 10px;
    left: 300px;
}
.me-auto>a:hover{
    background-color: rgb(110,170,126);
    color: white;
   
}
.me-auto>a:active{
    background-color: rgb(110,170,126);
    color: white;
   
}
.me-auto>a{
    padding-right: 15%;

}

.navbar{
    border-bottom: 5px solid rgb(110,170,126);
}


#navbar{
    display: none;
}



#navlinkdislay>.nav-link{
    color: #4f4e55;
    
}
#navlink>.nav-link{
    padding:12px 12px;
    
    margin-right: 5px;
    
    }








@media only screen and  (min-width: 10px) and (max-width: 900px){
    .navbar-brand>img{
        max-width: 170px;
    } 

    .container{
        right: 2%; 
    
    }
    .bg-light{
        width: 100%;
    }
    #navbar{
        display: inline;
    }
    .navbar-nav{
        padding-left: 5%;
    }
    #navlink{
        display: none;
        flex-direction: column;
        position:absolute;
        left: 15%;
        top: 120%;
        background-color: white;

       
               
        

    
    }
    #navbar>div>img{
        width:40%;
        
    }
    #navbar>div{
        margin-left: 40%;
    }
    #nav1{
        display: none;
    }
    #imageMenu2{
        display: none;
        flex-direction: column;
        position:absolute;
        left: 15%;
        top: 120%;
        background-color: white;   
    }
    .nav-link{
        font-weight:bold;
       
    }
    #navlinkdislay{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 1%;
        top: 120%;
        background-color: white;
        width: 100%;
    }
    
}
