.navbar-brand>img{
    max-width: 220px;
}
.nav-link{
    font-weight:bold;
}
.font-weight-bold >a{
font-weight: bold;
font-size: 15px;
}

.container{
    display: flex;
    position: relative;
    right: 5%;
    justify-content: space-between;
   

}
.me-auto{
    position: relative;
    top: 10px;
    left: 300px;
}
.me-auto>a:hover{
    background-color: rgb(110,170,126);
    color: white;
   
}
.me-auto>a{
    padding-right: 15%;

}

.navbar{
    border-bottom: 5px solid rgb(110,170,126);
}
